<body>
    <div class="container">
  <div class="left">

    <div class="inner-container">

      <img class="brand-logo" src="assets/images/Header-Logo-White.svg" alt="Brand-Logo">
      <!-- <img class="bg-mobile" src="assests/images/Header-Logo-White.svg" alt="Brand-Logo"> -->

      <h1>
        <span>UMS</span><br>
        of vertos
      </h1>


     
        <img class="mobile-header-img" src="https://www.bing.com/th?id=OIP.kRfWOSw_6d04T7gQzMxhQAHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="">
      

      <!-- -----------------------------------------Login Form---------------------------------------- -->

      <form action="/" id="popup-form">
        <!-- <label for="RegNumber">Registration Number</label> -->
        <input type="number" id="freg" name="freg" placeholder="Registration Number" required><br>


        


        <!-- <label for="Password">Degree:</label> -->
        <input type="password" id="degree" name="degree" placeholder="Password" required><br>

        <!-- <input type="button" data-close-button class="close-button" name="button" id="btn" value="Save" onclick="validateForm()"> -->
        <button  class="btn-add" (click)="btnAdd()">Login</button>
    </form>




    </div>


  </div>

  <div class="right image-right">

  </div>

</div>

   <!-- <script type="text/javascript" src="script.js">


   </script> -->
  </body>
