


<!-- <student detail in left side box ---------------------------------------- -->
	<section style="margin-top: 90px;">
		<div class="Student_Detail">
	  			<img class="Student_Image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyZ1LBE1FgyTob6tLeIYyHgQDAKkF9LrR_Kg&usqp=CAU">
	  				<div style="float:right;padding-right: 70px;height: 110px;">
	  					<h1>WELCOME</h1>
	  					<p>SHIVAM MANDLOI</p>
	  					<p>(11807492)</p>
	  				</div><br><br><hr>
	  			<div style="background-color:#1abc9c; padding: 0; margin: 0; ">
	  				<ul style="list-style-position: outside;"><br>
	  					<li><h3>Roll No:RK18SH14 (TERM:118192)</h3></li><hr>
	  					<li><h3>Group-2(Section:K18SH)</h3></li><hr>
	  					<li><h3>Program-P132-H::B.Tech</h3><h3>(Computer Science & Engineering)(Hons.)</h3></li><hr>
	  					<li><h3>Books Issued from Library-3</h3></li><hr>
	  					<li><h3>Hostel-BH2(Block B,716)</h3></li><hr><br>	  				
	  				</ul>
	  			</div>
	  			<div>
	  				<hr><h1>TODAY'S THOUGHT</h1><hr>
	  				<p>1. NOBODY CAN DO EVERYTHING,BUT EVERYONE CAN  DO SOMETHING.</p>
	  				<p>2. IT ALWAYS SEEMS IMPOSSIBLE UNTIL IT'S DONE.</p>
	  			</div>	
	  			<div>
	  				<hr><h1>TODAY'S THOUGHT</h1><hr>
	  				<p>1. NOBODY CAN DO EVERYTHING,BUT EVERYONE CAN  DO SOMETHING.</p>
	  				<p>2. IT ALWAYS SEEMS IMPOSSIBLE UNTIL IT'S DONE.</p>
	  			</div>	
	  					
	  	</div>

      <!-- --------------------------------------------------------------------------------------------------------------------------------------------- -->
	  	<!-- <student data and information like attendence , time table etc------- -->
		<div class="main">
			<!-- --------------------------------------------------STUDENT TODAY TIME TABLE----------------------------------------- -->
		 <div class="main_child_1">
		 	 <h1 class="main_child_1_sticky">Today's Timetable</h1>
		 	<table>
			   	  <tr>
				    <th>Time</th>
				    <th>Course</th>
				    <th>Room Number</th>
				    <th>Att. Status</th>
				  </tr>
				  <tr>
				    <td>09-10 AM</td>
				    <td>PEL131</td>
				    <td>37-709</td>
				    <td style="color: red;">Absent</td>
				  </tr>
				  <tr>
				    <td>10-11 AM</td>
				    <td>CSE202</td>
				    <td>37-709</td>
				    <td style="color: green;">Present</td>
				  </tr>
				  <tr>
				    <td>11-12 AM</td>
				    <td>PHY109</td>
				    <td>34-601</td>
				    <td style="color: blue;">Upcoming</td>
				  </tr>
				  <tr>
				    <td>01-02 PM</td>
				    <td>MTH166</td>
				    <td>36-901</td>
				    <td style="color:blue;">Upcoming</td>
				</tr>
				<tr>
				    <td>02-03 PM</td>
				    <td>ECE213</td>
				    <td>36-401</td>
				    <td style="color: blue;">Upcoming</td>
				</tr>
				<tr>
				    <td>03-04 PM</td>
				    <td>CSE326</td>
				    <td>37-901</td>
				    <td style="color: blue;">Upcoming</td>
				</tr>
				<tr>
				    <td>04-05 PM</td>
				    <td>MNT002</td>
				    <td>34-501</td>
				    <td style="color: blue;">Upcoming</td>
				</tr>
				</table>
		 </div><br><br>


     <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
		 <!-- --------------------------------------------STUDENT ATTENDENCE OF ALL SUBJECT---------------------------------------------------- -->
		 <div class="main_child_2">
      <h1 class="main_child_2_sticky">My Couser & Attendence</h1>
     <div class="main_child_2_grid-container">
       <div class="item2" style="color: black;">1 CSE202: Attendence - 100%(Marks:5)</div>
       <div class="item3" style="color: red;">2 CSE326: Attendence - 60%(Marks:0)</div>  
       <div class="item4" style="color: black;">3 CSE106: Attendence - 80%(Marks:2)</div>
       <div class="item5" style="color: black;">4 ECE213: Attendence - 92%(Marks:5)</div>
       <div class="item6" style="color: red;"  >5 ECE216: Attendence - 60%(Marks:0)</div>
       <div class="item7" style="color: orange;">5 PHY109: Attendence - 75%(Marks:2)</div>
       <div class="item8" style="color: black;">6 PHY119: Attendence - 100%(Marks:5)</div>  
       <div class="item9" style="color: black;">7 MTH166: Attendence - 100%(Marks:5)</div>
       <div class="item9" style="color: black;">8 MEC103: Attendence - 100%(Marks:5)</div>
       <div class="item9" style="color: black;">9 PEL131: Attendence - 95%(Marks:5)</div>
       <div class="item9" style="color: black;">10 MNT002: Attendence - 87%(No Marks for MNT)</div>
     </div>
    </div><br><hr><br>

     
		<!-----------------------------------------------------message coursewise------------------------------------------------------------------------- -->
			<div class="message">
				<h1 class="sticky_message" id="top">message<hr></h1>
					<ul>
						<li class="message_odd"><a class="message_link_a" href="#CSE202" style="color: white;">CSE202</a></li>
						<li class="message_even"><a class="message_link_a" href="#CSE326">CSE326</a></li>
						<li class="message_odd"><a class="message_link_a" href="#MTH166" style="color: white;">MTH166</a></li>
						<li class="message_even"><a class="message_link_a" href="#ECE213">ECE213</a></li>
						<li class="message_odd"><a class="message_link_a" href="#PHY109" style="color: white;">PHY109</a></li>
						<li class="message_even"><a class="message_link_a" href="#ECE216">ECE216</a></li>
						<li class="message_odd"><a class="message_link_a" href="#PHY119" style="color: white;">PHY119</a></li>
						<li class="message_even"><a class="message_link_a" href="#CSE216">CSE216</a></li>
						<li class="message_odd"><a class="message_link_a" href="#PEL131" style="color: white;">PEL131</a></li>
						<li class="message_even"><a class="message_link_a" href="#MEC103">MEC103</a></li>
					</ul><hr>
				<div style="background-color: #eee;"id="CSE202">	
					<h1>CSE202</h1>
					<p >New project is available in your acount and CA2 date also available in your acount.</p>
					<a href="#top">TOP</a><hr>	 
				</div>
				<div id="CSE326" style="background-color: #eee">
					<h1>CSE326</h1>
					<p>A project group is available in your acount and In each group 4 member, change group is not allow.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="MTH166" style="background-color: #eee">
					<h1>MTH166</h1>
					<p> CA2 date also available in your acount and it is totally MCQ base.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="ECE213" style="background-color: #eee">
					<h1>ECE213</h1>
					<p>I will contuct your makeup class on saturday and sunday.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="PHY109" style="background-color: #eee">
					<h1>PHY109</h1>
					<p>project subbmission date is 25/03/19 am=nd presentation in tutorial class with respective roll number.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="ECE216" style="background-color: #eee">
					<h1>ECE216</h1>
					<p>WTP will contuct on upcoming lab, so be ready for that.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="PHY119" style="background-color: #eee">
					<h1>PHY119</h1>
					<p>WTP is contuct on last week of "april" ,so be ready for that.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="CSE216" style="background-color: #eee">
					<h1>CSE216</h1>
					<p>I will contuct your makeup class on saturday and sunday.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="PEL131" style="background-color: #eee">
					<h1>PEL131</h1>
					<p>I will contuct your makeup class on saturday and sunday.</p>
					<a href="#top">TOP</a><hr>
				</div>
				<div id="MEC103" style="background-color: #eee">
					<h1>MEC103</h1>
					<p> CA2 date also available in your acount and it is totally MCQ base.</p>
					<a href="#top">TOP</a><hr>
				</div>
			</div>
			<!------------------------------------------------------------------------------------------------------------------------------------------- -->
			<!-- ---------------------------------------------------announcement----------------------------------------------------------- -->
			<div class="announcement">
				<h1 class="sticky_announcement">Announcement<hr></h1>
				<div>
					<ul><li><h1>Academic</h1></li>
					<li><p>Invitation for the viva voce openly defented examination of the Ph.d.candidate.</p></li></ul>
					<h4>30 March,2019</h4>
				</div><hr>
				<div>
					<ul><li><h1>Placement</h1></li>
					<li><p>Final result of tranning Cum Drive by JUSPAY.</p></li></ul>
					<h4>30 March,2019</h4>
				</div><hr>
				<div>
					<ul><li><h1>Academic</h1></li>
					<li><p>3 Day workshop Organized by the ALLSOFT SOLUTIONS.</p></li></ul>
					<h4>29 March,2019</h4>
				</div><hr>
				<div>
					<ul><li><h1>Academic</h1></li>
					<li><p>Programming Test for ProductBased Pathway[2nd year students].</p></li></ul>
					<h4>28 March,2019</h4>
				</div><hr>
				<div>
					<ul><li><h1>Placement</h1></li>
					<li><p>Final result of summer internship drive by outlook group.</p></li></ul>
					<h4>27 March,2019</h4>
				</div><hr>
				<div>
					<ul><li><h1>Academic</h1></li>
					<li><p>Education fair by top seven universities.</p></li></ul>
					<h4>26 March,2019</h4>
				</div><hr>
			</div>
		</div>
		</section>


