<div class="container">
    <div class="row">
        <div class="col-md-12">

            <input  #myuser type="text" class="form-control" [placeholder]="UserName">
            <button (click)="userName(myuser)" class="btn btn-primary mt-3">Create User</button>

            <table class="table table-bordered mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>Seat.No</th>
                        <th>User Name</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of userlist; index as userno">
                        <td>{{userno + 1}}</td>
                        <td>{{i}}</td>
                        <td>
                            <button (click)="ondelete(userno)" class="btn btn-danger">Remove User</button>
                        </td>
                        <td>
                            <button (click)="onUpdate(i,userno)" class="btn btn-success">Update User</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

